.design-ninecolors__colors {
  display: flex;
  margin: var(--space-2x) 0;
}
  
.design-ninecolors__color {
  margin-right: var(--space-1x);
  flex-shrink: 1;
  aspect-ratio: 1/1;
  width: 4.5rem;
  min-height: 2rem;
}

.design-ninecolors__color:last-child {
  margin-right: 0;
}

.design-ninecolors__color--1 { background-color: #556270; }
.design-ninecolors__color--2 { background-color: #4ECDC4; }
.design-ninecolors__color--3 { background-color: #C7F464; }
.design-ninecolors__color--4 { background-color: #FF6B6B; }
.design-ninecolors__color--5 { background-color: #C44D58; }


